<!DOCTYPE html>
<html>
<head>

    <link rel='stylesheet' href='/stylesheets/homepage/index.css'/>
    <%- include('./partials/base'); %>
    <script src='/javascripts/API.js'></script>
    <script>
        API();
    </script>
</head>
<body>
<%- include('./partials/header', { title: 'Homepage',visibility:'visible' }); %>

<!--Carousel -->
<div id="plantCarousel" class="carousel slide p-3 p-md-5 m-md-3 bg-light rounded" data-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#plantCarousel" data-bs-slide-to="0" class="active" aria-current="true"
                aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#plantCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#plantCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <% if (topPlants.length === 0) { %>
            <div class="carousel-item active">
                <div class="row">
                    <div class="col-md-6" style="background-image: url('/images/Dodonaea_viscosa_image.png'); background-size: cover; background-position: center;">
                        <div class="map-info p-5">
                            <h4 class="display-7">Florida hopbush</h4>
                            <p style="font-size: 18px">Family: Sapindaceae</p>
                            <p style="font-size: 18px">Kingdom: Plantae</p>
                            <p style="font-size: 18px">Genus: Dodonaea</p>
                            <p style="font-size: 18px">Continent: Asia</p>
                            <p style="font-size: 18px">Country: India</p>
                            <p style="font-size: 18px">Creator: nazir nani</p>
                        </div>
                    </div>
                    <div class="col-md-6" id="map">
                        <div class="map-container h-100">
                            <div class="map-header">
                                <h2>Map</h2>
                            </div>
                            <div class="map-body h-100">
                                <div id="map-canvas" class="h-100"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="carousel-item">
                <div class="row">
                    <div class="col-md-6" style="background-image: url('/images/Erythrina_crista_galli_L_image.png'); background-size: cover; background-position: center;">
                        <div class="map-info p-5">
                            <h4 class="display-7">Erythrina crista-galli L</h4>
                            <p style="font-size: 18px">Family: Fabaceae</p>
                            <p style="font-size: 18px">Kingdom: Plantae</p>
                            <p style="font-size: 18px">Genus: Erythrina</p>
                            <p style="font-size: 18px">Continent: Ocenia</p>
                            <p style="font-size: 18px">Country: Australia</p>
                            <p style="font-size: 18px">Creator: Scott Johnson</p>
                        </div>
                    </div>
                    <div class="col-md-6" id="second-map">
                        <div class="map-container h-100">
                            <div class="map-header">
                                <h2>Map</h2>
                            </div>
                            <div class="map-body h-100">
                                <div id="map-canvas" class="h-100"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="carousel-item">
                <div class="row">
                    <div class="col-md-6" style="background-image: url('/images/Erigeron_philadelphicus_L.png'); background-size: cover; background-position: center;">
                        <div class="map-info p-5">
                            <h4 class="display-7">Erigeron philadelphicus L.</h4>
                            <p style="font-size: 18px">Family: Asteraceae</p>
                            <p style="font-size: 18px">Kingdom: Plantae</p>
                            <p style="font-size: 18px">Genus: Erigeron</p>
                            <p style="font-size: 18px">Continent: Europe</p>
                            <p style="font-size: 18px">Country: France</p>
                            <p style="font-size: 18px">Creator: Gilles Istin</p>
                        </div>
                    </div>
                    <div class="col-md-6" id="third-map">
                        <div class="map-container h-100">
                            <div class="map-header">
                                <h2>Map</h2>
                            </div>
                            <div class="map-body h-100">
                                <div id="map-canvas" class="h-100"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <% } else { %>
        <% topPlants.forEach((plant, index) => { %>
        <div class="carousel-item <%= index === 0 ? 'active' : '' %>">
            <div class="row">
<div class="col-md-6" style="background-image:url('http://localhost:3000/<%= plant.plant.photos[0].replace(/\\/g, '/') %>'); background-size: cover; background-position: center;">
                    <div class="map-info p-5">

                        <h4 class="display-7"><%= plant.plant.name %></h4>
                        <p style="font-size: 18px">Family: <%= plant.plant.family %></p>
                        <p style="font-size: 18px">Common Name: <%= plant.plant.commonName %></p>
                        <p style="font-size: 18px">Genus: <%= plant.plant.genus %></p>
                        <p style="font-size: 18px">Country: <%= plant.address.country %></p>
                        <p style="font-size: 18px">Creator: <%= plant.user.name %></p>
                    </div>

                </div>
                <div class="col-md-6" id="map<%= index %>">
                    <div class="map-container h-100">
                        <div class="map-header">
                            <h2>Map</h2>
                        </div>
                        <div class="map-body h-100">
                            <div id="map-canvas" class="h-100"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <% }); %>
        <% } %>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#plantCarousel" data-bs-slide="prev"
            style="margin-right: 2%">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#plantCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<!-- Marketing Banner -->
<div class="card" style="width: 100%;">
    <div class="card-body" style="background-color: #eaf3d8;color: #575757">
        <div class="row text-center">
            <div class="col-12">
                <h3>Discover, Learn, Connect</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-6 d-flex align-items-center ">
                <div class="text-center">
                    <i class="fa-sharp fa-solid fa-plus"></i>

                    <h2>Add Plants</h2>
                </div>
            </div>
            <div class="col-6 d-flex align-items-center">
                <div class="text-center">
                    <i class="fa-solid fa-comment"></i>
                    <h2>Real-time chat</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">

                <p>Add new plants to your collection with ease</p>
            </div>
            <div class="col-6">
                <p>Engage in real-time chat about specific plants</p>
            </div>
        </div>
        <div class="row">
            <div class="col-6 d-flex align-items-center">
                <div class="text-center">
                    <i class="fa-solid fa-circle-info"></i>
                    <h2>Interactive Plant Catalog</h2>
                </div>
            </div>
            <div class="col-6 d-flex align-items-center">
                <div class="text-center">
                    <i class="fa-solid fa-circle-info"></i>
                    <h2>Filter Plants</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <p>Interactive catalog of plants with detailed information, images, and categorization to engage users
                    and help them explore different plant options easily.</p>
            </div>

            <div class="col-6">
                <p>Filter plants according to specific criteria</p>
            </div>
        </div>

    </div>

    <!-- Filter and Main Section -->
    <div class="min-vh-50 mt-4 w-50 m-auto">
        <div class="input-group">
            <label class="input-group-text" for=""><i class="bi bi-funnel"></i></label>
            <select class="form-select" aria-label="Filter select" id="filterSelect">
                <option disabled hidden selected><i class="bi bi-funnel"></i> Filter Plants By..</option>
                <option value="all" selected>Show All</option>
                <option value="withFlowers">Flowers</option>
                <option value="withoutFlowers">Without Flowers</option>
                <option value="withFruits">Fruits</option>
                <option value="withoutFruits">Without Fruits</option>
                <option value="withLeaves">Leaves</option>
                <option value="withoutLeaves">Without Leaves</option>
            </select>
        </div>
    </div>

        <div class="row" style="margin-top: 1%;margin-left: 1%;margin-right: 1%">
            <% if (plants.length === 0) { %>
                <div class="display-plants d-flex flex-column justify-content-center align-items-center vh-100">
                    <h4 class="text-muted mt-1">Sorry there are currently no plants to display...</h4>
                    <button class="btn btn-success"><a href="/addplant" style="text-decoration: none;color: white"> Add Plant</a></button>
                </div>
                <% } else { %>
            <% plants.forEach(plant => { %>
                                <div class="col-md-3 mb-3 plant-card" data-has-flowers="<%= plant.plant.characteristics.flowering %>"  data-has-fruits="<%= plant.plant.characteristics.fruitBearing %>" data-has-leaves="<%= plant.plant.characteristics.hasLeaves %>">
                                    <div class="card text-center">
                                        <img src="<%= plant.plant.photos[0] %>" class="card-img-top" alt="Plant Image" style="height: 200px; object-fit: cover;" loading="lazy">
                                        <div class="card-body">
                                            <h5 class="card-title">Name: <%= plant.plant.name %></h5>
                                            <% if (plant.plant.family) { %>
                                                <p class="card-text">Family: <%= plant.plant.family %></p>
                                            <% } else { %>
                                                <p class="card-text">Family: User not aware of it</p>
                                            <% } %>
                                            <% if (plant.plant.genus) { %>
                                                <p class="card-text">Genus: <%= plant.plant.genus %></p>
                                            <% } else { %>
                                                <p class="card-text">Genus: User not aware of it</p>
                                            <% } %>
                                            <% if (plant.plant.species) { %>
                                                <p class="card-text">Species: <%= plant.plant.species %></p>
                                            <% } else { %>
                                                <p class="card-text">Species: User not aware of it</p>
                                            <% } %>
                                            <% if (plant.address.country) { %>
                                                <p class="card-text">Country: <%= plant.address.country %></p>
                                            <% } else { %>
                                                <p class="card-text">Country: User not aware of it</p>
                                            <% } %>
                                            <% if (plant.status === 'Verified') { %>
                                                <img src="/images/blue_tick.png" alt="Verified" class="verification-icon" style="height: 40px;width:40px;">
                                            <% } else if (plant.status === 'Verification in Progress') { %>
                                                <img src="/images/red-tick.jpg" alt="Pending" class="verification-icon" style="height: 40px; width:40px;">
                                            <% } %>
                                            <a href="#" class="btn btn-success">View Details</a>
                                        </div>
                                    </div>
                                </div>
            <% }); %>
                <% } %>
        </div>


    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            <% if (currentPage > 1) { %>
                <li class="page-item">
                    <a class="page-link" href="/?page=<%= currentPage - 1 %>" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="visually-hidden">Previous</span>
                    </a>
                </li>
            <% } %>
            <% for (let i = 1; i <= totalPages; i++) { %>
                <li class="page-item <%= i === currentPage ? 'active' : '' %>">
                    <a class="page-link" href="/?page=<%= i %>"><%= i %></a>
                </li>
            <% } %>
            <% if (currentPage < totalPages) { %>
                <li class="page-item">
                    <a class="page-link" href="/?page=<%= currentPage + 1 %>" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="visually-hidden">Next</span>
                    </a>
                </li>
            <% } %>
        </ul>
    </nav>

    <%- include('./partials/footer'); %>


    <script>
        function initMap() {
            <% if (topPlants.length === 0) { %>
            createMapWithMarker(15.380074, 78.983592, "map");
            createMapWithMarker(-28.221163, 153.372328, "second-map");
            createMapWithMarker(48.017952, 7.334534, "third-map");
            <% } else { %>
            <% topPlants.forEach((plant, index) => { %>
            createMapWithMarker('<%= plant.location.split(",")[0] %>', '<%= plant.location.split(",")[1] %>', "map<%= index %>");
            <% }); %>
            <% } %>
        }

        function createMapWithMarker(latitude, longitude, mapElementId) {
            let mapOptions = {
                zoom: 5,
                center: {lat: parseFloat(latitude), lng: parseFloat(longitude)}
            };
            let map = new google.maps.Map(document.getElementById(mapElementId), mapOptions);

            let markerOptions = {
                position: new google.maps.LatLng(latitude, longitude),
                map: map
            };
            let marker = new google.maps.Marker(markerOptions);
        }


        document.getElementById('filterSelect').addEventListener('change', function() {
            let filterValue = this.value;
            sessionStorage.setItem('plantFilter', filterValue);
            let plantCards = document.querySelectorAll('.plant-card');
            plantCards.forEach(function(card) {
                if (filterValue === 'all') {
                    card.style.display = 'block';
                } else if (filterValue === 'withFlowers' && card.getAttribute("data-has-flowers") === 'true') {
                    card.style.display = 'block';
                } else if (filterValue === 'withoutFlowers' && card.getAttribute("data-has-flowers") === 'false') {
                    card.style.display = 'block';
                }
                else if (filterValue === 'withFruits' && card.getAttribute("data-has-fruits") === 'true') {
                    card.style.display = 'block';
                }
                else if (filterValue === 'withoutFruits' && card.getAttribute("data-has-fruits") === 'false') {
                    card.style.display = 'block';
                }
                else if (filterValue === 'withLeaves' && card.getAttribute("data-has-leaves") === 'true') {
                    card.style.display = 'block';
                }
                else if (filterValue === 'withoutLeaves' && card.getAttribute("data-has-leaves") === 'false') {
                    card.style.display = 'block';
                }
                else {
                    card.style.display = 'none';
                }
            });
        });

        window.addEventListener('load', function() {
            let filterValue = sessionStorage.getItem('plantFilter');
            if (filterValue) {
                document.getElementById('filterSelect').value = filterValue;
                document.getElementById('filterSelect').dispatchEvent(new Event('change'));
            }
        });
    </script>


</div>
</body>
</html>
