<!DOCTYPE html>
<html lang="en">

<!-- Head Section -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plant Details</title>
    <link rel="stylesheet" href="./stylesheets/plantdetails/style.css">
    <script src='/javascripts/API.js'></script>
    <script>
        API();
    </script>
    <%- include('./partials/base'); %>
</head>

<!-- Body Section -->
<body>

<!-- Header Section -->
<%- include('./partials/header', { title: 'Plant Details',visibility:'hidden' }); %>
<br> <br> <br>
<div class="row">
    <div class="col-md-4 order-md-2 mb-4">

        <!-- User Details Sections -->
        <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-muted">User Details</span>
            <span class="badge badge-secondary badge-pill">3</span>
        </h4>
        <ul class="list-group mb-3">
            <li class="list-group-item d-flex justify-content-between bg-light">
                <div class="text-success">
                    <h6 class="my-0">Username :</h6>
                </div>
                <span class="text-success"><%= sighting.user.name %></span>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
                <div>
                    <h6 class="my-0">Email ID</h6>
                </div>
                <span class="text-muted"> <%= sighting.user.contactDetails.email %></span>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
                <div>
                    <h6 class="my-0">Contact Number</h6>
                </div>
                <span class="text-muted"><%= sighting.user.contactDetails.phoneNumber %></span>
            </li>
        </ul>

        <!-- Sighting Details Section -->
        <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-muted">Sighting Details</span>
            <span class="badge badge-secondary badge-pill">3</span>
        </h4>
        <ul class="list-group mb-3">
            <li class="list-group-item d-flex justify-content-between lh-condensed">
                <div id="map" style="height: 300px; width: 600px;">

                </div>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
                <div>
                    <h6 class="my-0">Elevation</h6>
                </div>
                <span class="text-muted"><%= sighting.altitude %></span>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
                <div>
                    <h6 class="my-0">Address</h6>
                </div>
                <span class="text-muted"> <%= sighting.address.line %></span>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
                <div>
                    <h6 class="my-0">City/Town</h6>
                </div>
                <span class="text-muted"><%= sighting.address.city %></span>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
                <div>
                    <h6 class="my-0">State</h6>
                </div>
                <span class="text-muted"> <%= sighting.address.state %></span>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
                <div>
                    <h6 class="my-0">Postal Code</h6>
                </div>
                <span class="text-muted"><%= sighting.address.pinCode %></span>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
                <div>
                    <h6 class="my-0">Country</h6>
                </div>
                <span class="text-muted"> <%= sighting.address.country %></span>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
                <div>
                    <h6 class="my-0">Date of Sighting</h6>
                </div>
                <span class="text-muted"> <%= sighting.date %></span>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
                <div>
                    <h6 class="my-0">Number of Observations</h6>
                </div>
                <span class="text-muted"><%=          %></span>
            </li>
        </ul>
    </div>
    <div class="col-md-8 order-md-1">
        <h4 class="mb-3">Plant Details</h4>
        <hr>
        <h1 style="font-size:xxx-large; color: #36454F"><%= sighting.plant.name %></h1>
        <h5 class="link-dark" style="font-size: small">
            Reference link: <a href="<%= sighting.plant.identificationLink %>"
                               class="text-primary"><%= sighting.plant.identificationLink %></a>
        </h5>
        <br>
        <div class="image-container">
            <% sighting.plant.photos.forEach(image => { %>
                <img src="http://localhost:3000/<%= image.replace(/\\/g, '/') %>" alt="Plant Image"
                     style="object-fit: cover;" loading="lazy">
            <% }) %>
        </div>
        <br><br>
        <ul class="list-group mb-3">
            <li class="list-group-item justify-content-between bg-light">
                <div class="text-success">
                    <h6 class="my-0">Plant Name : <span class="text-success"><%= sighting.plant.name %></span></h6>
                </div>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
                <div>
                    <h6 class="my-0">Common Name : <span class="text-muted"><%= sighting.plant.commonName %></span></h6>
                </div>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
                <div>
                    <h6 class="my-0">Scientific Name : <span
                                class="text-muted"><%= sighting.plant.scientificName %></span></h6>
                </div>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
                <div>
                    <h6 class="my-0">Family : <span class="text-muted"><%= sighting.plant.family %></span></h6>
                </div>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
                <div>
                    <h6 class="my-0">Genus : <span class="text-muted"><%= sighting.plant.genus %></span></h6>
                </div>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
                <div>
                    <h6 class="my-0">Species : <span class="text-muted"><%= sighting.plant.species %></span></h6>
                </div>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
                <div>
                    <h6 class="my-0">Description : <span class="text-muted"><%= sighting.plant.description %></span>
                    </h6>
                </div>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
                <div>
                    <h6 class="my-0">Plant Size : (Length: <%= sighting.plant.size.length %> x Height: <%= sighting.plant.size.height %> x Width: <%= sighting.plant.size.width %>)</h6>
                </div>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
                <div>
                    <h6 class="my-0">Characteristics:</h6><br>
                    <div class="d-flex flex-wrap gap-2">
                        <h4><span class="badge bg-primary"><%= sighting.plant.characteristics.flowering ? 'Flowering' : 'Non-Flowering' %></span></h4>
                        <h4><span class="badge bg-secondary"><%= sighting.plant.characteristics.hasLeaves ? 'Has Leaves' : 'Has No Leaves' %></span></h4>
                        <h4><span class="badge bg-success"><%= sighting.plant.characteristics.fruitBearing ? 'Fruit Bearing' : 'Non-Fruit Bearing' %></span></h4>
                        <h4><span class="badge bg-danger"><%= sighting.plant.characteristics.sunExposure %></span></h4>
                        <h4><span class="badge bg-warning text-dark">Color: <%= sighting.plant.characteristics.flowerColor %></span></h4>
                    </div>
                </div>
            </li>
        </ul>
        <a href="/chat?plantName=<%= encodeURIComponent(sighting.plant.name) %>&plantId=<%=sighting.sightingId %>" class="chat-button" style="margin-top: 20px;">
            Chat about <%= sighting.plant.name %>
        </a>
    </div>
</div>

<%- include('./partials/footer'); %>


<script>
    function initMap() {

        // Holds the value for the location
        var location = '<%= sighting.location %>';
        const [latitude, longitude] = location.split(',');

        // Convert the latitude and longitude to float values
        const lat = parseFloat(latitude.trim());
        const long = parseFloat(longitude.trim());

        createMapWithMarker(lat, long, "map");
    }

    function createMapWithMarker(latitude, longitude, mapElementId) {
        let mapOptions = {
            zoom: 5,
            center: {lat: latitude, lng: longitude}
        };
        let map = new google.maps.Map(document.getElementById(mapElementId), mapOptions);

        let markerOptions = {
            position: new google.maps.LatLng(latitude, longitude),
            map: map
        };
        let marker = new google.maps.Marker(markerOptions);
    }
</script>
</body>
</html>
